.timer {
  position: absolute;
  top: 24px;
  right: 24px;
  text-align: right;
  font-size: 14px;
}

.normal {
  color: #ffffff;
}

.warning {
  color: #ff5555;
}

.subText {
  margin-top: 4px;
  color: #bbbbbb;
}
